/*stylesheet1*/


.card-body{
    background-color: whitesmoke;
}
.card2.body{
    background-color: whitesmoke;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.nav-item{
    font-size: 12;
}
.nav-link {
    color: white;
}

@media(min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.black-text {
    color: black;
    background-color: blanchedalmond;
}

.white-text {
    color: black    ;
    background-color: tan;
}

.r {margin-right: 15px;}
.l {margin-left: 15px;}
.t {margin-top: 15px;}
.b {margin-bottom: 15px;}

.r2 {margin-right: 2px;}
.r4 {margin-right: 4px;}
.r10 {margin-right: 10px;}
.l10 {margin-left: 10px;}

.title-row {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
}
.title-right {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.title-level {
    line-height: 50px;
    flex: 0 1 65px;
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 15px;
}

.title-name {
    height: 50px;
    line-height:50px;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.title-subname {
    height: 20px;
    line-height:20px;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.properties {
    flex: 0 1 100px;
    text-align: center;
}

.property-row {
    height: 50px;
    display: flex;
    margin-bottom: 2px;
}

.property {
    flex: 1;
    height: 50px;
    display: flex;
}

.property-text {
    flex: 1;
    text-align: center;
    line-height: 50px;
}

.property-text2 {
    flex: 1;
    text-align: center;
    line-height: 25px;
}

.content {
    flex: 1;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.footer {  
    flex: 0 1 40px;
    display: flex;
    line-height: 40px;
    font-size: 18pt;
    font-weight: bold;
}

.footer-left {
    flex: 1;
    color: black;
    text-align: start;
}

.footer-right {
    flex: 1;
    color: black;
    text-align: end;
}

.small-middle-container{
    margin: auto;
    width: 100%;
}

